.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
.container{

  #principal-container{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #e67e22;
    float: left;

    .home-bg{
      position: relative;
      top: 0px;
      left: 0px;
      padding: 5%;
      float: left;
    }
    .central {
      float: left;
      background: #fff;
      width: 50%;
      height: 470px;
      margin-top: 9%;
    }
    img{
      width: 247px;
      height: 490px;
      display: block;
      position: relative;
      padding-top: 0%;
    }

  }

}
